@import '../stylesheets/css/default-style.css';

.component-list-products {
  width: 100%;
  height: 100%;
  color: var(--main-font-color-1);
}

.component-list-products .content {
  margin: 1em;
  height: 100%;
}

.component-list-products .content .scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  padding-top: 13px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.component-list-products .content .scroller i {
  font-size: 18px;
}

.component-list-products .content .scroller-right {
  float: right;
}

.component-list-products .content .scroller-left {
  float: left;
}

.component-list-products .content .tab-content {
  margin-top: 1em;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  input {
  border: none;
  background-color: #f7f7f7;
  padding: 10px 1em;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  .input-group-append
  button {
  border: 1px solid transparent;
  border-left: none;
  background-color: #f7f7f7;
  padding: 0.375em 1em;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  .input-group-append
  button
  i {
  color: #a7a7a7;
  transition: all 200ms ease;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  .input-group-append
  button
  i:hover {
  color: var(--main-font-color-2);
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  input::placeholder {
  color: #a7a7a7;
  opacity: 1; /* Firefox */
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  input:focus {
  border-color: transparent;
  box-shadow: none;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  input:focus
  ~ .input-group-append
  button {
  border-color: transparent;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .search-input-group
  .input-group-append
  .btn.focus,
.btn:focus {
  box-shadow: none;
}

.component-list-products .content .tab-content .tab-pane .list-products {
  max-height: 630px;
  min-height: 450px;
  overflow: auto;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .list-products::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #f7f7f7;
  box-shadow: inset 0 0 10px #f7f7f7;
  background-color: #e7e7e7;
  border-radius: 3px;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .list-products::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.component-list-products
  .content
  .tab-content
  .tab-pane
  .list-products::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(113, 127, 224, 0.6);
}

.component-list-products .content .tab-content .tab-pane .list-products,
.component-checkable-product {
  margin-top: 1em;
}

.component-list-products .content .tab-content .tab-pane .list-products,
.component-checkable-product:nth-child(1) {
  margin-top: 0em;
}

.component-list-products .content .wrapper {
  position: relative;
  /* margin: 0 auto; */
  overflow: hidden;
  padding: 5px;
  height: 50px;
}

.component-list-products .content .wrapper .nav-tabs {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-left: 5px;
  margin-top: 5px;
  border-bottom: none;
}

.component-list-products .content .wrapper .nav-tabs .nav-item {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.5rem 2.3rem !important;
}

.component-list-products .content .wrapper .nav-tabs .nav-item.show .nav-link,
.component-list-products .content .wrapper .nav-tabs .nav-link.active {
  color: var(--main-font-color-2);
  border-bottom: 0.1875rem solid var(--main-font-color-2);
}

.component-list-products .content .wrapper .nav-tabs .nav-link {
  border: none;
  border-bottom: 0.1875rem solid #dee2e6;
  transition: 200ms;
}

.component-list-products .content .wrapper .nav-tabs .nav-link:hover {
  border-bottom: 0.1875rem solid var(--main-font-color-2);
  color: var(--main-font-color-2);
}