@import '../stylesheets/css/default-style.css';

.evaluation-form-component {
  width: 100%;
  /* display: none; */
  border: 1px solid #e6e6e6;
  border-top: none;
  border-radius: 3px;
  color: var(--main-font-color-1);
}

.evaluation-form {
  width: 100%;
  display: block;
  background-color: #fff;
  padding: 20px;
}

.evaluation-form-component h4 {
  font-size: 20px;
  padding-bottom: 15px;
}

.evaluation-form-component input.title,
.evaluation-form textarea.content {
  border: 1px solid #e6e6e6;
  background: transparent;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  color: var(--main-font-color-1);
  font-size: var(--font-size-content);
}

.evaluation-form-component .evaluation-start {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  font-size: var(--font-size-content);
}

.evaluation-form-component .evaluation-title,
.evaluation-form-component .evaluation-content {
  display: block;
  margin-bottom: 20px;
}

.evaluation-form-component .evaluation-button {
  float: right;
}

/* button.send-evaluation {
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
} */

.evaluation-form .top {
  display: flex;
  justify-content: space-between;
}

.evaluation-form-component .evaluation-start div.stars {
  display: inline-block;
  margin-left: 10px;
}

input.star {
  display: none;
  margin: 0;
  padding-top: 0;
}

.evaluation-form-component .evaluation-start label.star {
  float: right;
  margin: 0;
  padding-top: 0;
  padding-right: 5px;
  color: #f1b306;
  transition: all 200ms ease;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #f1b306;
  font-size: 22px;
}

/* input.star-5:checked ~ label.star:before {
  color: #f1b306;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
} */

.evaluation-form-component .evaluation-start label.star:hover {
  transform: rotate(-10deg) scale(1.2);
}

.evaluation-form-component .evaluation-start label.star:before {
  content: '\f006';
  font-family: FontAwesome;
  font-size: 22px;
}
