.component-filter-list {
    width: 300px;
    height: auto;
    margin-left: 120px;
}

.component-filter-list .filter {
    height: 70px;
    width: auto;
}

.component-filter-list .categories .d,
.component-filter-list .size .d,
.component-filter-list .color .colordm .d,
.component-filter-list .cost .d {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    height: 20px;
    align-items: center;
    color: #000000;
}

.component-filter-list .size .card-body .custom-control custom-checkbox {
    width: 18px;
    height: 18px;
}

.component-filter-list .categories .checkbox-cate,
.component-filter-list .size .checkbox-size,
.component-filter-list .cost .checkbox-cost,
.component-filter-list .color .checkbox-color {
    margin-left: 15px;
    font-size: 17px;
    display: flex;
}

.component-filter-list .cost .slider {
    width: 200px;
}

.component-filter-list .categories .checkbox-cate .custom-control-input:checked~.custom-control-label::before,
.component-filter-list .size .checkbox-size .custom-control-input:checked~.custom-control-label::before,
.component-filter-list .color .checkbox-color .custom-control-input:checked~.custom-control-label::before {
    background-color: #717fe0;
}

.categories .checkbox-cate .custom-control .custom-control-label::after,
.size .checkbox-size .custom-control .custom-control-label::after,
.color .checkbox-color .custom-control .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
}

.component-filter-list .cost pre {
    font-size: 17px;
    border: white;
    background-color: white;
    width: 300px;
}

.component-filter-list .dm .down,
.component-filter-list .costdm .down {
    width: 20px;
    margin-left: 180px;
    cursor: pointer;
}

.component-filter-list .costdm .down {
    margin-left: 103px;
}

.component-filter-list .sizedm .down {
    width: 20px;
    margin-left: 235px;
    cursor: pointer;
}

.component-filter-list .colordm .down {
    width: 20px;
    margin-left: 201px;
    cursor: pointer;
}

.component-filter-list .filter .delete-filter {
    margin-left: 125px;
    width: 105px;
    height: 44px;
    left: 300px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 8px;
    color: #333333;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #717fe0;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.component-filter-list .filter .delete-filter:hover {
    color: #fff;
    border-color: var(--main-button-color);
    background-color: var(--main-button-color);
}