@import '../stylesheets/css/default-style.css';

.comment {
  display: block;
  height: fit-content;
  margin: 20px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.comment:nth-last-child(1) {
  border-bottom: none;
}

.comment .comment-item {
  display: flex;
}

.comment .my-photo {
  width: 15%;
  position: relative;
  display: block;
  text-align: center;
  color: var(--main-font-color-1);
}

.comment .my-photo .img-circle {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  border: 2px solid var(--main-font-color-2);
  border-radius: 50%;
  object-fit: cover;
}

.comment .my-photo .name {
  margin-bottom: 5px;
  font-size: var(--font-size-content);
  text-align: center;
  font-weight: bold;
}

.comment .my-photo .time {
  font-size: 13px;
  margin-bottom: 10px;
  color: var(--color-grey);
}

.comment .information {
  width: 85%;
  position: relative;
  display: block;
}

.comment .information .description {
  font-size: var(--font-size-content);
  color: var(--main-font-color-1);
}

.comment .information .unbought {
  font-size: 13px;
  color: var(--color-red);
  margin: 3px 0px 8px;
}

.comment .bought,
.comment .from-us {
  font-size: 13px;
  padding: 0px 0px 0px 25px;
  background: url('/images/security.png') no-repeat;
  margin: 3px 0px 8px;
  color: #22b345;
  font-weight: 400;
  background-size: contain;
}

.comment div.stars {
  display: inline-block;
}

.comment div.stars .star {
  color: #f1b306;
}

.comment div.stars .append-comment-star {
  color: #f1b306;
  margin-right: 4px;
}

.comment div.stars .append-comment-star:nth-last-child(1) {
  margin-right: 0px;
}

.comment div.stars .grey-star {
  color: var(--main-border-color);
}

.comment div.stars .append-comment-grey-star {
  color: var(--main-border-color);
  margin-right: 4px;
}

.comment div.stars .append-comment-grey-star:nth-last-child(1) {
  margin-right: 0px;
}

.comment .review {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 10px;
  color: var(--main-font-color-1);
}

.comment .review_detail {
  color: var(--main-border-color);
}

.comment label.star:before {
  content: '\f005';
  font-family: FontAwesome;
  font-size: 16px;
}

.comment .reply-comment-component {
  padding-left: 70px;
  padding-top: 5px;
  border-top: 1px solid #e6e6e6;
}

.comment .reply-comment-component .reply-comment {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.comment .reply-comment-component .reply-comment .information {
  font-size: var(--font-size-content);
  color: var(--main-font-color-1);
}

.comment .information-reply-comment {
  display: flex;
  align-items: center;
}

.comment button.show-comment,
.comment button.hide-comment {
  float: right;
  font-size: var(--font-size-content);
  background-color: transparent;
  color: var(--color-grey);
  transition: all 200ms ease;
}

.comment button.show-comment:hover,
.comment button.hide-comment:hover {
  color: var(--main-font-color-2);
}

/* button.hide-comment {
  display: none;
} */

.comment .input-comment-component {
  display: block;
  margin-bottom: 20px;
  /* height: 150px; */
}

.comment .input-comment {
  display: flex;
}

.comment textarea {
  border: 1px solid #e6e6e6;
  width: 85%;
  background: transparent;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: var(--font-size-content);
}

.comment button.public-comment {
  float: right;
  margin-top: 10px;
}
