.comment {
    display: block;
    height: fit-content;
}

.comment-item {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid;
    border-color: #E6E6E6;
}

.my-photo {
    width: 15%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
}

.img-circle {
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px ;
    border-radius: 50%;
}

h5 {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
}

.time {
    font-size: 12px;
    margin-bottom: 10px;
    color: #999999;
}

.information {
    float: left;
    width: 85%;
    position: relative;
    display: block;
    justify-content: space-between;
}

.buy-already, .from-us {
    font-size: 12px;
    padding: 1px 0 1px 22px;
    background: url("/images/security.png") no-repeat;
    margin: 6px 0;
    color: #22b345;
    font-weight: 400;
    background-size: contain;
}

div.stars {
    display: inline-block;
}

label.star {
    float: right;
    padding-right:5px;
    padding-top: 5px;
    font-size: 25px;
    color: #F1B306;
    transition: all .25s;
    content: '\f005';
    margin-bottom: 0;
    height: 30px;
}

.review {
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    color: #333333;
}

.review_detail {
    color: #666666;
}

label.star:before {
    content: '\f005';
    font-family: FontAwesome;
}

.reply-comment-component {
    display: none;
    margin-left: 50px;
    height: fit-content;
}

.reply-comment {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid;
    border-color: #E6E6E6;
}

.information-reply-comment {
    display: flex;
    align-items: center;
}

button.show-comment, button.hide-comment {
    float: right;
    height: 40px;
    color: #717fe0;
    font-size: 14px;
    background-color: transparent;
}

button.show-comment:hover, button.hide-comment:hover {
    color: #142dcf;
}
button.hide-comment {
    display: none;
}


.input-comment-component {
    display: block;
    height: 150px;
}

.input-comment {
    display: flex;
}
textarea.comment {
  border: 1px solid;
  width: 85%;
  border-color: #E6E6E6;
  background: transparent;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
}

button.public-comment {
    float: right;
    height: 40px;
    color: #000000;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #000000;
    width: 120px;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
}

button.public-comment:hover {
    color: #ffffff;
    background-color: #000000;
}