.container:focus {
    font-family: Roboto;
}

.path {
    height: 144px;
    width: auto;
    background-color: #EFF3FF;
    margin-top: 70px;
}

.path .page {
    width: 500px;
    padding-top: 55px;
    padding-left: 100px;
}

.page1 {
    color: #666666;
    text-decoration: none;
}

.infor {
    margin-top: 20px;
    padding-top: 200px
}

.left {
    width: 300px;
    height: auto;
    margin-left: 10px;
    font-family: Roboto;
}

.left .filter {
    height: 70px;
    width: auto;
}

a {
    color: #111111;
    float: left;
    margin-top: 10px;
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.left .categories .d,
.left .size .d,
.left .color .colordm .d,
.left .cost .d {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    height: 20px;
    align-items: center;
    color: #000000;
}

.left .size .card-body .custom-control custom-checkbox {
    width: 18px;
    height: 18px;
}

.left .categories .checkbox-cate,
.left .size .checkbox-size,
.left .cost .slider,
.left .color .checkbox-color {
    margin-left: 15px;
    font-size: 17px;
    font-family: Roboto;
}

.left .cost .slider {
    width: 200px;
}

.left .categories .checkbox-cate .checkbox,
.left .size .checkbox-size .checkbox,
.left .color .checkbox-color .checkbox {
    cursor: pointer;
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: white;
    outline: #2D9CDB;
    vertical-align: top;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 2px;
}

.left .cost pre {
    font-family: Roboto;
    font-size: 17px;
    border: white;
    background-color: white;
    width: 300px;
}

.left .dm .down,
.left .costdm .down {
    width: 20px;
    margin-left: 180px;
    cursor: pointer;
}

.left .costdm .down {
    margin-left: 115px;
}

.left .sizedm .down {
    width: 20px;
    margin-left: 220px;
    cursor: pointer;
}

.left .colordm .down {
    width: 20px;
    margin-left: 195px;
    cursor: pointer;
}

.left .filter .delete-filter {
    margin-left: auto;
    width: 85px;
    height: 44px;
    left: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    padding-left: 8px;
    align-items: center;
    color: #333333;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #717fe0;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #717fe0;
}

.range {
    height: 1px;
    background-color: #717fe0;
    -webkit-appearance: none;
    border-radius: 1px;
    outline: none;
    width: 250px;
}

.right {
    margin-left: 10px;
    width: 100%;
}

.right .gender .gender-female {
    cursor: pointer;
    padding: 2px;
    text-decoration: none;
    margin-left: 10px;
    color: #000000;
}

.right .gender .gender-male {
    cursor: pointer;
    padding: 2px;
    margin-right: 10px;
    font-weight: normal;
    color: #C8C8C8;
}

.right .text .short {
    float: right;
    width: 130px;
    height: 44px;
    left: 300px;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 8px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #717fe0;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.right .text {
    width: 100%;
    padding-bottom: 60px;
}

.right .row {
    padding-top: 20px;
}

.right .row .single-blog-post .post-img img {
    width: 240px;
    height: 350px;
    padding-bottom: 30px
}