@import '../stylesheets/css/default-style.css';

.component-outline-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--main-button-color);
  padding: 0.75rem;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 300ms ease;
  text-decoration: none;
  background-color: transparent;
  color: var(--main-button-color);
  width: 10rem;
  text-transform: uppercase;
}

.component-outline-button:focus {
  outline: 0;
  box-shadow: none;
}

.component-outline-button:hover {
  color: #fff;
  border-color: var(--main-button-color);
  background-color: var(--main-button-color);
}
