.evaluation-form-component {
  width: 100%;
  display: none;
}

.evaluation-form{
  width: 100%;
  display: block;
  background-color: #ffffff;
}

.evaluation-form-component h4 {
  font-size: 21px;
  padding-bottom: 15px;
  color: #333333;
}

.evaluation-form-component input.title {
  border: 1px solid;
  border-color: #E6E6E6;
  background: transparent;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
}
.evaluation-form-component .evaluation-start {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.evaluation-form-component .evaluation-title, .evaluation-form-component .evaluation-content {
  display: block;
  margin-bottom: 20px;
}

.evaluation-form-component .evaluation-button {
  display: flex;
  float: right;
}

button.send-evaluation {
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.evaluation-form .top {
  display: flex;
  justify-content: space-between;
}

textarea.content {
  border: 1px solid;
  border-color: #E6E6E6;
  background: transparent;
  width: 100%;
  line-height: 40px;
  padding-left: 10px;
  margin-top: 10px;
}

.evaluation-form-component .evaluation-start div.stars {
  display: inline-block;
  margin-left: 10px;
}

input.star {
  display: none;
  margin: 0;
  padding-top: 0;
  height: 30px;
}

.evaluation-form-component .evaluation-start label.star {
  float: right;
  margin: 0;
  padding-top: 0;
  font-size: 25px;
  height: 30px;
  color: #F1B306;
  transition: all .2s;
}

input.star:checked~label.star:before {
  content: '\f005';
  color: #F1B306;
  transition: all .25s;
}

input.star-5:checked~label.star:before {
  color: #F1B306;
}

input.star-1:checked~label.star:before {
  color: #F62;
}

.evaluation-form-component .evaluation-start label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}


.evaluation-form-component .evaluation-start label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
