
	<!-- Title page -->
	<br><br><br>
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Về chúng tôi
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Giới thiệu nhóm
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Đây là trang web của nhóm NMN
						</p>

						<p class="stext-113 cl6 p-b-26">
							Thành viên nhóm
						</p>

						<p class="stext-113 cl6 p-b-26">
							1. Nguyễn Trần Duy Minh		MSSV: 1612384
						</p>
						<p class="stext-113 cl6 p-b-26">
							2. Trần Ngô Anh Nguyên 		MSSV: 1612440
						</p>
						<p class="stext-113 cl6 p-b-26">
							3. Lê Uyển Nhi				MSSV: 1612470
						</p>
					</div>
				</div>
				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</section>	
	
		

	