
    <!-- Title page -->
    <br><br><br>
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Câu hỏi thường gặp
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Làm thế nào để đặt hàng?
						</h3>
						<p class="stext-113 cl6 p-b-26">
							Trả lời: Khách hàng có thể đặt hàng bằng cách thực hiên những bước sau:
						</p>

						<p class="stext-113 cl6 p-b-26">
							B1: Tìm sản phẩm
						</p>
						<p class="stext-113 cl6 p-b-26">
							B2: Khi tìm được sản phầm cần mua, nhấn vào "Xem trước" để xem chi tiết sản phẩm
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B3: Chọn kích cỡ sản phẩm và số lượng, sau đó nhấn "Thêm vào giỏ hàng"
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B4: Sau khi chọn sản phẩm xong khách hàng có thể kiểm tra danh sách khi nhấp vào biểu tượng giỏ hàng ở góc phải màn hình
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B5: Sau khi đã kiểm tra các sản phầm, khách hàng nhấp vào nút "Thanh toán"
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B6: Khách hàng cung cấp thông tin cần thiết như nơi nhận hàng, số điện thoại. Ở bước này, khách hàng có thể điền mã khuyến mại để nhận ưu đãi, sau khi đã nhập nhấp vào cập nhật để hệ thống ghi nhận mã và cập nhật giá trên giở hàng
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B7: Sau khi đảm bảo các bước trên, khách hàng có thể nhấp nút "Đặt hàng"
						</p>
                        <p class="stext-113 cl6 p-b-26">
							B8: Khách hàng có thể xem thông tin mà đơn hàng mình đã đặt tại phần "Theo dõi đơn đặt hàng ở cuối trang web
						</p>
                        
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/product-15.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Thanh toán bằng cách nào?
						</h3>
						<p class="stext-113 cl6 p-b-26">
							Trả lời: Khách hàng có thể thanh toán qua các hình thức sau:
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								1. Thanh toán trực tiếp khi nhận được hàng
							</p>
                            <p class="stext-114 cl6 p-r-40 p-b-11">
								2. Thanh toán online bằng thẻ tín dụng
							</p>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	