@import '../../stylesheets/css/default-style.css';

.page-product {
  width: var(--width-normal);
  margin: 0 auto;
  padding-bottom: 100px;
}

.page-product .component-outline-button {
  width: 13rem;
}

.page-product .path {
  height: 144px;
  width: auto;
  background-color: #eff3ff;
  margin-top: 70px;
}

.page-product .path .page {
  width: 500px;
  padding-top: 150px;
  padding-left: 100px;
}

.page-product .page1 {
  color: #666666;
  text-decoration: none;
}

.page-product .infor {
  margin-top: 70px;
}

/* .page-product .col-sm-3 .infor .component-filter-list .filter a {
    color: #111111;
    float: left;
    margin-top: 10px;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
} */

.page-product .right .text {
  width: 100%;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-product .right {
  margin-left: 10px;
  width: 100%;
  height: auto;
}

.page-product .right .gender {
  width: 200px;
  font-size: 16px;
}

.page-product .right .gender .gender-female {
  cursor: pointer;
  padding: 2px;
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
}

.page-product .right .gender .gender-male {
  cursor: pointer;
  padding: 2px;
  margin-right: 10px;
  font-weight: normal;
  color: #c8c8c8;
}

.page-product .right .gender .gender-male:hover {
    color: black;
}

.page-product .right .text .short {
  float: right;
  width: 150px;
  height: 44px;
  left: 300px;
  font-size: 16px;
  padding-left: 8px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #333333;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #717fe0;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.page-product .right .row {
  padding-top: 40px;
}

.page-product .right .panel-collapse {
  height: 100px;
}

.page-product .right .row .single-blog-post .post-img img {
  width: 240px;
  height: 350px;
  padding-bottom: 30px;
}

.page-product .right .text .btn-secondary {
  cursor: pointer;
  color: black;
  border: 1px solid #717fe0;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  background-color: white;
  font-size: 16px;
}

.page-product .right .text .btn-secondary:hover {
  background-color: #111;
  color: white;
}

.page-product .right .row > div {
  padding: 1em 0.8em;
}
