<html>
    <div class="card-header d-flex align-items-center"> 
        <h3 class="h4">Thống Kê Doanh Thu Theo Quý</h3>
    </div>
    <div class="card-header row">    
        <div class="col-xl-2 col-sm-6">
            <h6>Năm</h6>
        </div>
        <div class="col-xl-3 col-sm-6">
            <input class="text" value="2018">
        </div>
    </div>
    <div clas="chart col-lg-8 col-12">
        <div class="bar-chart bg-white d-flex align-items-center justify-content-center has-shadow" style="position: relative"; height:40vh; width:80vw>
            <canvas id="barChartQuarter"></canvas>
        </div>
    </div>

</html>
