<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <link rel="stylesheet" href="/stylesheets/fontastic.css">
  <link rel="stylesheet" href="/stylesheets/style.blue.css">
  <link rel="stylesheet" href="/stylesheets/util.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <div class="page">
    <header class="header">
      <nav class="navbar">
        <div class="search-box">
          <button class="dismiss"></button><i class="icon-close"></i>
          <form id="searchForm" action="#" role="search">
            <input class="form-control" type="search" placeholder="What are you looking for...">
          </form>
        </div>
        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <div class="navbar-header"><a class="navbar-brand d-none d-sm-inline-block" href="/">
                <div class="brand-text d-none d-lg-inline-block"><span>Bootstrap </span><strong>Dashboard</strong></div>
                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
              </a><a class="menu-btn active" id="toggle-btn" href="#"><span></span><span></span><span></span></a></div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
              <li class="nav-item"><a class="nav-link logout" href="/signout"><span class="d-none d-sm-inline">Đăng xuất</span><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page-content d-flex align-items-stretch">
        <nav class="side-navbar">
          <div class="sidebar-header d-flex align-items-center">
            <div class="title">
              <a href="/admins/edit_info">
                <h1 class="h4">{{admin.name}}</h1>
              </a>
              <p>{{admin.title}}</p>
            </div>
          </div>
          <ul class="list-unstyled">
            <li class="active"><a href="/"> <i class="icon-home"> </i>Trang chủ</a></li>
            <li><a href="/accounts"><i class="icon-user"> </i>Tài Khoản Khách Hàng</a></li>
            <li><a href="/admins"><i class="icon-pencil-case"> </i>Tài khoản Admin </a></li>
            <li><a href="/categories"><i class="icon-grid"> </i>Các Loại Sản Phẩm</a></li>
            <li><a href="/products"><i class="icon-grid"> </i>Sản Phẩm</a></li>
            <li><a href="/orders"> <i class="icon-bill"> </i>Đơn Hàng</a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Thống Kê Doanh Thu </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="/statistics_day">Thống Kê Theo Ngày</a></li>
                <li><a href="/statistics_week">Thống Kê Theo Tuần</a></li>
                <li><a href="/statistics_month">Thống Kê Theo Tháng</a></li>
                <li><a href="/statistics_quarter">Thống Kê Theo Quý</a></li>
                <li><a href="/statistics_year">Thống kê Theo Năm</a></li>
              </ul>
            </li>
            <li><a href="/bestseller"><i class="icon-presentation"> </i>Sản Phẩm Bán Chạy</a></li>
          </ul>
        </nav>
        <div class="content-inner">
          {{{body}}}
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Your company 2017-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a class="external" href="https://bootstrapious.com/p/admin-template">Bootstrapious</a></p>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </header>
  </div>
  <script src="/javascripts/chart.js"></script>
  <script src="/javascripts/custom.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script>
		$('.js-cost').each(function(){
			var coststring='';
			var cost=$(this).text();
			var temp;
			while(cost>=1){
				if(cost<1000){
					temp=Math.floor(cost);
				}else{
					temp=cost%1000;
					if(temp<10){
						temp+="00";
					}else if(temp<100){
						temp+="0";
					}
				}
				if(coststring==''){
					coststring+=temp;
				}else{
					coststring=temp+"."+coststring;
				}
				cost/=1000;
			}
			coststring+=" VND";
			$(this).text(coststring);
		})

      $('#table').DataTable({
        lengthMenu:[[5,10,15,-1],[5,10,15,'Tất cả']]
      }

      );
  
    $('.js-sort').on('click',function(){
  
        if($('.js-sort').hasClass('table-sortable')) {
            $('.js-sort').removeClass('table-sortable');
            $('.js-sort').toggleClass('table-sorted-desc');
            $('#table').dataTable({
              "order": [[ 2, "desc" ]]
            });
        }
        else if($('.js-sort').hasClass('table-sorted-desc')) {
            $('.js-sort').removeClass('table-sorted-desc');
            $('.js-sort').toggleClass('table-sorted-asc');
            $('#table').dataTable({
              "order": [[ 2, "asc" ]]
            });
            console.log('sort desc');
        }  
        else if($('.js-sort').hasClass('table-sorted-asc')) {
            $('.js-sort').removeClass('table-sorted-asc');
            $('.js-sort').toggleClass('table-sorted-desc');
            $('#table').dataTable({
              "order": [[ 2, "desc" ]]
            });
        }   
    });
    $('.js-date').each(function(){
      var date=$(this).text();
      $(this).text(formatDate(date));
    });

    function formatDate(d){
    var date = new Date(d);
    var dd = date.getDate();
    var mm=date.getMonth()+1;
    var yyyy=date.getFullYear();
    if(dd < 10)
      {
        dd = '0'+ dd;
      }
    if(mm < 10)
    {
      mm = '0' + mm;
    }
    return dd+"/"+mm+"/"+yyyy;
  }
  </script>	
  <script>
    $('.js-status').each(function(){
      if($(this).text()=="Đã nhận")
      {
        $(this).addClass('greenStyle');
      }
      if($(this).text()=="Đã hủy")
      {
        $(this).addClass('redStyle');
      }
      if($(this).text()=="Đang giao") {
        $(this).addClass('yellowStyle');
      }
    });
  </script>
 </body>

</html>