@import '../../stylesheets/css/default-style.css';

.sec-product-detail {
  width: var(--width-normal);
  margin: 70px auto 0px;
  padding-bottom: 100px;
}

.sec-product-detail .basic-info-product .name {
  font-size: var(--font-size-title);
  color: var(--main-font-color-2);
  margin-bottom: 10px;
}

.sec-product-detail .basic-info-product .price {
  font-size: var(--font-size-title);
  color: var(--main-font-color-1);
}

.sec-product-detail .basic-info-product .original-price {
  font-size: var(--font-size-title);
  color: var(--color-grey);
}

.sec-product-detail .basic-info-product .wrap-num-product {
  margin-left: 10px;
  max-width: 75%;
  height: 35px;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  font-size: var(--font-size-content);
}

.sec-product-detail .basic-info-product .btn-num-product-up,
.sec-product-detail .basic-info-product .btn-num-product-down {
  width: 35px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color-1);
  background-color: transparent;
  transition: all 200ms ease;
}

.sec-product-detail .basic-info-product .btn-num-product-up:hover,
.sec-product-detail .basic-info-product .btn-num-product-down:hover {
  background-color: var(--main-font-color-2);
  color: #fff;
}

.sec-product-detail .basic-info-product .num-product {
  height: 100%;
  width: 35px;
  text-align: center;
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  background-color: #fff;
}

input.num-product {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-star {
  color: #f1b306;
}

.select-component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.select-component .select-button-component {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-left: 10px;
}

.select-component .select-button-component .btn-size,
.select-component .select-button-component .btn-color {
  height: 35px;
  width: 30%;
  border-radius: 3px;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  transition: all 200ms ease;
}

.size-selected,
.color-selected {
  border-color: var(--main-font-color-2) !important;
  color: var(--main-font-color-2) !important;
}

.btn-size:hover,
.color-selected:hover {
  border-color: var(--main-font-color-2);
  color: var(--main-font-color-2);
}

.tag {
  font-size: 16px;
  width: 25%;
}

.btn-buy-now {
  height: 40px;
  width: 48%;
  color: #fff;
  background-color: var(--color-red);
  border-radius: 3px;
  font-size: 16px;
  transition: all 200ms ease;
}

.btn-buy-now:hover {
  background-color: var(--hover-color-red);
}

.btn-add-to-cart {
  height: 40px;
  width: 48%;
  color: var(--color-red);
  background-color: #fff;
  border: 1px solid var(--color-red);
  border-radius: 3px;
  font-size: 16px;
  transition: all 200ms ease;
}

.btn-add-to-cart:hover {
  background-color: var(--color-red);
  color: #fff;
  /* background-color: rgb(248, 209, 209); */
}

.product-detail-component,
.product-description-component,
.product-relate-component,
.evaluation-component {
  display: block;
  padding: 20px 0px;
}

.product-detail-component h2,
.product-relate-component h2,
.product-description-component h2,
.evaluation-component h2 {
  color: var(--main-font-color-1);
  font-size: var(--font-size-title);
  margin-bottom: 30px;
}

.product-relate-component .title .inner {
  position: relative;
}

.product-relate-component .title .inner a {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  transition: transform 500ms ease;
  color: var(--main-font-color-2);
}

.product-relate-component .title .inner a:hover {
  transform: translateX(-1em);
}

.product-detail-component .data {
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 20px;
}

.product-detail-component .data .items-detail:nth-child(2) {
  margin-left: 180px;
}

.product-detail-component .data .items-detail .item {
  display: flex;
  margin-top: 20px;
}

.product-detail-component .data .items-detail .item:nth-child(1) {
  margin-top: 0px;
}

.product-detail-component .data .items-detail .item h3 {
  font-size: var(--font-size-content);
}

.product-detail-component .data .items-detail .item .title {
  width: 120px;
  /* height: 40px; */
  color: var(--color-grey);
}

.product-detail-component .data .items-detail .item .value {
  /* width: 300px; */
  /* height: 40px; */
  color: var(--main-font-color-1);
}

.product-description-component p {
  color: var(--color-grey);
  width: 100%;
  font-size: var(--font-size-content);
}

.product-relate-component .title-component {
  display: flex;
  justify-content: space-between;
}

.product-relate-component .title-component a {
  font-size: var(--font-size-content);
  padding-top: 20px;
  color: var(--main-font-color-2);
}

.product-relate-component .title-component a:hover {
  padding-right: 20px;
}

.comments-component {
  margin-top: 50px;
}

.evaluation {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 3px;
}

.evaluation-button-component {
  display: block;
  /* width: 450px; */
  text-align: center;
  margin-left: 20px;
}

.evaluation-button-component h3 {
  font-size: var(--font-size-content);
  /* line-height: 64px; */
  text-align: center;
  margin-bottom: 20px;
}

/* .evaluation-button-component button {
  height: 40px;
  width: 240px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
  
}

.evaluation-button-component button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
  border-color: #000000;
} */

.evaluation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.evaluation .average-rating {
  display: block;
  text-align: center;
}

.evaluation .average-rating h1 {
  font-size: var(--font-size-title);
  color: var(--main-font-color-1);
}

.evaluation .average-rating h4 {
  font-size: var(--font-size-content);
  color: var(--color-grey);
}

.evaluation .detail-rating {
  display: block;
  margin-left: 20px;
}

.evaluation .detail-rating .item-detail-rating {
  display: flex;
  text-align: center;
}

.evaluation .detail-rating .item-detail-rating h5 {
  font-size: var(--font-size-content);
  color: #f1b306;
  width: 50px;
}

.my-process {
  height: 10px;
  margin-bottom: 10px;
  margin-top: 7px;
  margin-left: 5px;
  width: 350px;
}

.my-process-bar {
  background-color: var(--main-border-color);
  height: 10px;
  border-radius: 5px;
}

.form-control {
  border-color: #666666;
}

.form-control:hover {
  border-color: #666666 !important;
  color: #666666 !important;
}
