 <!DOCTYPE html>
<html>
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Xóa người dùng</h3>
    </div>
    <div class="card-body bg-white">
        <div class="row">
            <p>Bạn muốn khóa người dùng tên {{user.username}}?</p>
        </div>
        <div class="row">
            <form  class="col-lg-3" action="/accounts/lock/{{user._id}}" method="POST">
                <button type="submit" class="btn btn-primary">Có</button>
            </form>
            <a href="javascript:history.back()" class="btn btn-primary">Không</a>
        </div>
    </div>
</html>