* {
  font-family: Poppins-Regular;
}

:root {
  --main-font-color-1: #333;
  --main-font-color-2: #717fe0;
  --main-button-color: #111;
  --hover-button-color: #212529;
  --main-border-color: #c9c9c9;
  --main-background-color: rgba(103, 117, 214, 0.22);
  --color-red: #ff3940;
  --hover-color-red: #ff424e;
  --color-grey: #7e7e7e;
  --width-normal: 80%;
  --font-size-title: 28px;
  --font-size-content: 14px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: var(--main-font-color-1);
  background-color: #fff;
  border-color: var(--main-font-color-2);
  outline: 0;
  box-shadow: none;
}
