* {
  font-family: Poppins-Regular;
}

:root {
  --main-font-color-1: #333;
  --main-font-color-2: #717fe0;
  --main-button-color: #111;
  --hover-button-color: #212529;
  --main-border-color: #c9c9c9;
  --main-background-color: rgba(103, 117, 214, 0.22);
  --color-red: #ff3940;
  --hover-color-red: #ff424e;
  --color-grey: #7e7e7e;
  --width-normal: 80%;
  --font-size-title: 28px;
  --font-size-content: 14px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: var(--main-font-color-1);
  background-color: #fff;
  border-color: var(--main-font-color-2);
  outline: 0;
  box-shadow: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--main-font-color-2);
  border-radius: 3px;
  border: 0px solid var(--main-font-color-2);
}
input[type=range]::-webkit-slider-thumb {
  border: 2px solid var(--main-font-color-2);
  height: var(--font-size-content);
  width: var(--font-size-content);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--main-font-color-2);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #8471a9;
  border-radius: 11.5px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.5px 1.5px 2.3px #000000, 0px 0px 1.5px #0d0d0d;
  border: 0px solid #000000;
  height: 17px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #816ea7;
  border: 0px solid #000101;
  border-radius: 23px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #8471a9;
  border: 0px solid #000101;
  border-radius: 23px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.5px 1.5px 2.3px #000000, 0px 0px 1.5px #0d0d0d;
  border: 0px solid #000000;
  height: 17px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 5.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #8471a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #8774ab;
}
